---
const { link, name } = Astro.props;
---

<button class="button">
  <a href={link} title={name} target="_blank" rel="noopener">
    {name}
  </a>
</button>

<style>
  a {
    text-decoration: none; 
    color: #fff !important;
  }
</style>